@model SpaceX.Web.Models.LaunchDetailsVM

@{
    var missionId = string.Join(" ", @Model.LaunchPlans.MissionId);
    var ships = string.Join(" ", @Model.LaunchPlans.Ships);
    var altitude = string.Join(" ", @Model.LaunchPlans.LaunchFailureDetails.Altitude);
    var flightClub = string.Join(" ", @Model.LaunchPlans.Telemetry.FlightClub);
    var reused = string.Join(" ", @Model.LaunchPlans.Rocket.Fairings?.Reused ?? null);
    var recoveryAttempt = string.Join(" ", @Model.LaunchPlans.Rocket.Fairings?.RecoveryAttempt ?? null);
    var recovered = string.Join(" ", @Model.LaunchPlans.Rocket.Fairings?.Recovered ?? null);
    var ship = string.Join(" ", @Model.LaunchPlans.Rocket.Fairings?.Ship ?? null);
    var redditCampaing = string.Join(" ", @Model.LaunchPlans.Links.RedditCampaign);
    var redditLaunch = string.Join(" ", @Model.LaunchPlans.Links.RedditLaunch);
    var redditRecovery = string.Join(" ", @Model.LaunchPlans.Links.RedditRecovery);
    var redditMedia = string.Join(" ", @Model.LaunchPlans.Links.RedditMedia);
    var presskit = string.Join(" ", @Model.LaunchPlans.Links.Presskit);
    var flickrImage = string.Join(" ", @Model.LaunchPlans.Links.FlickrImages);
    var webcastLiftoff = string.Join(" ", @Model.LaunchPlans.Timeline?.WebcastLiftoff ?? null);
}
<body>
    <h2 class="text-center">General information</h2>
    <br />
    <h3 class="text-center">@Model.LaunchPlans.Details</h3>
    <br />
    <table id="dt-bordered" class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Flight Number</th>
                <th scope="col">Mission Name</th>
                <th scope="col">Mission Id</th>
                <th scope="col">Upcoming</th>
                <th scope="col">Launch Year</th>
                <th scope="col">Date Unix</th>
                <th scope="col">Launch Date</th>
                <th scope="col">Date Local</th>
                <th scope="col">Is Tentative</th>
                <th scope="col">Max Precision</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.LaunchPlans.FlightNumber</td>
                <td>@Model.LaunchPlans.MissionName</td>
                <td>@missionId</td>
                <td>@Model.LaunchPlans.Upcoming</td>
                <td>@Model.LaunchPlans.LaunchYear</td>
                <td>@Model.LaunchPlans.LaunchDateUnix</td>
                <td>@Model.LaunchPlans.LaunchDateUtc</td>
                <td>@Model.LaunchPlans.LaunchDateLocal</td>
                <td>@Model.LaunchPlans.IsTentative</td>
                <td>@Model.LaunchPlans.TentativeMaxPrecision</td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    <table id="dt-bordered" class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Tbd</th>
                <th scope="col">Launch Window</th>
                <th scope="col">Ships</th>
                <th scope="col">Flight Club</th>
                <th scope="col">Site ID</th>
                <th scope="col">Site Name</th>
                <th scope="col">Full Name</th>
                <th scope="col">Launch Success</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.LaunchPlans.Tbd</td>
                <td>@Model.LaunchPlans.LaunchWindow</td>
                <td>@ships</td>
                <td>@flightClub</td>
                <td>@Model.LaunchPlans.LaunchSite.SiteId</td>
                <td>@Model.LaunchPlans.LaunchSite.SiteName</td>
                <td>@Model.LaunchPlans.LaunchSite.SiteNameLong</td>
                <td>@Model.LaunchPlans.LaunchSuccess</td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    <h2 class="text-center">Launch falire info:</h2>
    <br />
    <table id="dt-bordered" class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Altitude</th>
                <th scope="col">Reason</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.LaunchPlans.LaunchFailureDetails.Time</td>
                <td>@Model.LaunchPlans.LaunchFailureDetails.Altitude</td>
                <td>@Model.LaunchPlans.LaunchFailureDetails.Reason</td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    <h2 class="text-center">Rocket general information:</h2>
    <br />
    <table id="dt-bordered" class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Rocket Name</th>
                <th scope="col">Rocket ID</th>
                <th scope="col">Rocket Type</th>
            </tr>
        </thead>
        @foreach (var firstStage in Model.LaunchPlans.Rocket.FirstStage.Cores)
        {
            <tbody>
                <tr>
                    <td>@Model.LaunchPlans.Rocket.RocketName</td>
                    <td>@Model.LaunchPlans.Rocket.RocketId</td>
                    <td>@Model.LaunchPlans.Rocket.RocketType</td>
                </tr>
            </tbody>
        }
    </table>
    <br />
    <br />
    <h2 class="text-center">Rocket first stage: </h2>
    <br />
    <table id="dt-bordered" class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Core Cerial</th>
                <th scope="col">Flight</th>
                <th scope="col">Block</th>
                <th scope="col">Gridfins</th>
                <th scope="col">Legs</th>
                <th scope="col">Reused</th>
                <th scope="col">Land success</th>
                <th scope="col">Landing intent</th>
                <th scope="col">Landing type</th>
                <th scope="col">landing vehicle</th>
            </tr>
        </thead>
        @foreach (var firstStage in Model.LaunchPlans.Rocket.FirstStage.Cores)
        {

            <tbody>
                <tr>
                    <td>@firstStage.CoreSerial</td>
                    <td>@firstStage.Flight/td>
                    <td>@firstStage.Block</td>
                    <td>@firstStage.Gridfins</td>
                    <td>@firstStage.Legs</td>
                    <td>@firstStage.Reused</td>
                    <td>@firstStage.LandSuccess</td>
                    <td>@firstStage.LandingIntent</td>
                    <td>@firstStage.LandingType</td>
                    <td>@firstStage.LandingVehicle</td>
                </tr>
            </tbody>
        }
    </table>
    <br />
    <br />
    <h2 class="text-center">Rocket second stage - Payloads: </h2>
    <br />
    <table id="dt-bordered" class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Payload Id</th>
                <th scope="col">Norad Id</th>
                <th scope="col">Reused</th>
                <th scope="col">Customers</th>
                <th scope="col">Nationality</th>
                <th scope="col">Manufacturer</th>
                <th scope="col">Payload Type</th>
                <th scope="col">Payload Mass Kg</th>
                <th scope="col">Payload Mass Lbs</th>
                <th scope="col">Orbit</th>
            </tr>
        </thead>
        @foreach (var secondStage in Model.LaunchPlans.Rocket.SecondStage.Payloads)
        {
            var noradId = string.Join(" ", secondStage.NoradId);
            var customers = string.Join(" ", secondStage.Customers);
            <tbody>
                <tr>
                    <td>@secondStage.PayloadId</td>
                    <td>@noradId</td>
                    <td>@secondStage.Reused</td>
                    <td>@customers</td>
                    <td>@secondStage.Nationality</td>
                    <td>@secondStage.Manufacturer</td>
                    <td>@secondStage.PayloadType</td>
                    <td>@secondStage.PayloadMassKg</td>
                    <td>@secondStage.PayloadMassLbs</td>
                    <td>@secondStage.Orbit</td>
                </tr>
            </tbody>
        }
    </table>
    <br />
    <br />
    <h2 class="text-center">Rocket second stage - Payload orbit params: </h2>
    <br />
    <table id="dt-bordered" class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">ReferenceSystem</th>
                <th scope="col">Regime</th>
                <th scope="col">Longitude</th>
                <th scope="col">SemiMajorAxisKm</th>
                <th scope="col">Eccentricity</th>
                <th scope="col">PeriapsisKm</th>
                <th scope="col">ApoapsisKm</th>
                <th scope="col">InclinationDeg</th>
            </tr>
        </thead>
        @foreach (var secondStage in Model.LaunchPlans.Rocket.SecondStage.Payloads)
        {
            var longitude = string.Join(" ", secondStage.OrbitParams.Longitude);
            var semiMajorAxisKm = string.Join(" ", secondStage.OrbitParams.SemiMajorAxisKm);
            var eccentricity = string.Join(" ", secondStage.OrbitParams.Eccentricity);
            <tbody>
                <tr>
                    <td>@secondStage.OrbitParams.ReferenceSystem</td>
                    <td>@secondStage.OrbitParams.Regime</td>
                    <td>@longitude</td>
                    <td>@semiMajorAxisKm</td>
                    <td>@eccentricity</td>
                    <td>@secondStage.OrbitParams.PeriapsisKm</td>
                    <td>@secondStage.OrbitParams.ApoapsisKm</td>
                    <td>@secondStage.OrbitParams.InclinationDeg</td>
                </tr>
            </tbody>
        }
    </table>
    <table id="dt-bordered" class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">PeriodMin</th>
                <th scope="col">LifespanYears</th>
                <th scope="col">Epoch</th>
                <th scope="col">MeanMotion</th>
                <th scope="col">Raan</th>
                <th scope="col">ArgOfPericenter</th>
                <th scope="col">MeanAnomaly</th>
            </tr>
        </thead>
        @foreach (var secondStage in Model.LaunchPlans.Rocket.SecondStage.Payloads)
        {
            var periodMin = string.Join(" ", secondStage.OrbitParams.PeriodMin);
            var lifespanYears = string.Join(" ", secondStage.OrbitParams.LifespanYears);
            var epoch = string.Join(" ", secondStage.OrbitParams.Epoch);
            var meanMotion = string.Join(" ", secondStage.OrbitParams.MeanMotion);
            var raan = string.Join(" ", secondStage.OrbitParams.Raan);
            var argOfPericenter = string.Join(" ", secondStage.OrbitParams.ArgOfPericenter);
            var meanAnomaly = string.Join(" ", secondStage.OrbitParams.MeanAnomaly);

            <tbody>
                <tr>
                    <td>@periodMin</td>
                    <td>@lifespanYears</td>
                    <td>@epoch</td>
                    <td>@meanMotion</td>
                    <td>@raan</td>
                    <td>@argOfPericenter</td>
                    <td>@meanAnomaly</td>
                </tr>
            </tbody>
        }
    </table>
    <br />
    <br />
    <h2 class="text-center">Links list:</h2>
    <br />
    <table id="dt-bordered" class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Source</th>
                <th scope="col">Link</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mission Patch</td>
                <td><a href="@Model.LaunchPlans.Links.MissionPatch">@Model.LaunchPlans.Links.MissionPatch</a></td>
            </tr>
            <tr>
                <td>Mission Patch Small</td>
                <td><a href="@Model.LaunchPlans.Links.MissionPatchSmall">@Model.LaunchPlans.Links.MissionPatchSmall</a></td>
            </tr>
            <tr>
                <td>Reddit Campaign</td>
                <td><a href="@redditCampaing">@redditCampaing</a></td>
            </tr>
            <tr>
                <td>Reddit Launch</td>
                <td><a href="@redditLaunch">@redditLaunch</a></td>
            </tr>
            <tr>
                <td>Reddi tRecovery</td>
                <td><a href="@redditRecovery">@redditRecovery</a></td>
            </tr>
            <tr>
                <td>Reddit Media</td>
                <td><a href="@redditMedia">@redditMedia</a></td>
            </tr>
            <tr>
                <td>Presskit</td>
                <td><a href="@presskit">@presskit</a></td>
            </tr>
            <tr>
                <td>Article Link</td>
                <td><a href="@Model.LaunchPlans.Links.ArticleLink">@Model.LaunchPlans.Links.ArticleLink</a></td>
            </tr>
            <tr>
                <td>Wikipedia</td>
                <td><a href="@Model.LaunchPlans.Links.Wikipedia">@Model.LaunchPlans.Links.Wikipedia</a></td>
            </tr>
            <tr>
                <td>Video Link</td>
                <td><a href="@Model.LaunchPlans.Links.VideoLink">@Model.LaunchPlans.Links.VideoLink</a></td>
            </tr>
            <tr>
                <td>Youtube Id</td>
                <td>@Model.LaunchPlans.Links.YoutubeId</td>
            </tr>
            <tr>
                <td>Flickr Image</td>
                <td><a href="@flickrImage">@flickrImage</a></td>
            </tr>
        </tbody>
    </table>
</body>

